html, body, ul, li {
	margin: 20;
	padding: 0;
	background: #333333;
}

#gallery{
	width: 1200px;
	
	margin: 0 auto;
	text-align: center;

}
#gallery .photos{
	position: relative;
	height: 800px;
}

#gallery .photos img{
	width: 100%;
 	left: 0;
	position: absolute;
	opacity: 0;
	transition: opacity 1s;
	border-radius: 10%;
}

#gallery .photos img.showed{
	opacity: 1;
}